@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Satisfy);

html, body {padding:0;margin:0;}

/* GENERALIZED STYLES */
body {
    overflow:auto; 
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #FFF;
	background: #CC2900;
}

a {
	text-decoration: none;
}
/*SPECIFIC CLASS STYLES */
.main-background{
    width: 100%;
    height: 80%;

}
.title{
	font-weight: 400;
	font-size: 3.8em;
	line-height: 1;
	letter-spacing: 6px;
    color: rgba(255,255,255,0.85);
	margin-left: 0%;
	padding-top: 5%;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
}
.title:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
}
.title2{
	font-weight: 400;
	font-size: 3.8em;
	line-height: 1;
	letter-spacing: 6px;
    color: rgba(255,255,255,0.85);
	margin-left: 5%;
	padding-top: 5%;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
}
.title2:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
}
.title_info{
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1;
	letter-spacing: 6px;
	margin-left: 10%;
	width: 100%;
	text-align: left;
	text-transform: uppercase;
}
.title_holder{
    position: absolute;
    background: rgba(255,255,255,0.2);
	width: 100%;
    padding: 1em 1em;
    top: 20%;
}
.title_holder:hover{
    background: rgba(255,255,255,0.25);
    cursor: default;
}
.login{
    position: absolute;
    top: 30%;
    font-weight: 300;
    width: 450px;
    padding: 1em 1em;
    text-align: center;
    text-transform: uppercase;
    left: 22%;
    font-size: 2em;
    -webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%); 
	transform: translateX(-50%);
}
.login div{
    background: rgba(255,255,255,0.3);
    margin: .2em .2em;
    word-spacing: 0.2em;
    cursor: pointer;
    margin: .2em .2em;
    padding: .2em .2em;
    -webkit-transition: 1s;
    transition: 1s;
}
.login div:hover{
    background: rgba(255,255,255,0.5);
}
.page-transition{
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 2%;
}
.info-page{
    background: brown;
    width: 100%;
    height: 100%;

}