@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Satisfy);


html, body {padding:0;margin:0;}




/* GENERALIZED STYLES */
/*--------------------*/



body {
    overflow:auto;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #FFF;
	background: #CC2900;
}
a{
    text-decoration: none;
}


/*  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box; */


/*SPECIFIC CLASS STYLES */
/*----------------------*/




.main-background{
    width: 100%;
    height: 80%;
}
.title{
	font-weight: 400;
	font-size: 3.8em;
	line-height: 1;
	letter-spacing: 6px;
    color: rgba(255,255,255,0.80);
	margin-left: 10%;
	margin-top: 5%;
	width: 30%;
	text-align: left;
	text-transform: uppercase;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s;
}
.title a{
    color: rgba(255,255,255,0.80);
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s;
}
.title:hover{
}
.title a:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
}
.title2{
	font-weight: 400;
	font-size: 3.8em;
	line-height: 1;
	letter-spacing: 6px;
    color: rgba(255,255,255,0.85);
	padding-top: 5%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s;
}
.title2:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
}
.title_info{
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1;
	letter-spacing: 6px;
	margin-left: 10%;
	width: 60%;
	text-align: left;
	text-transform: uppercase;
}
.title_holder{
    position: absolute;
    background: rgba(255,255,255,0.2);
	width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    top: 20%;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}
.title_holder:hover{
    background: rgba(255,255,255,0.25);
    cursor: default;
}
.desc-img{
    position:absolute;
    top: 30%;
    height: 55%;
    width: 100%;
    background:  url(img/food.jpg),rgba(255,255,255,0.2);
    opacity: 0.5;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.desc-img2{
    position:absolute;
    top: 30%;
    height: 55%;
    width: 100%;
    background:  url(img/oyster.jpg),rgba(255,255,255,0.2);
    opacity: 0.5;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.desc-img3{
    position:absolute;
    top: 30%;
    height: 55%;
    width: 100%;
    background:  url(img/cannoli.jpg),rgba(255,255,255,0.2);
    opacity: 0.5;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.priceAndButtonHold {
    width: 100%;
    height: 400px;
    padding-top: 1em;
/*     background: rgba(255,255,255, 0.7); */

}
.pricing-holder{
    float: left;
    top:50%;
    background: rgb(255,255,255);
    width: 400px;
    margin-left: 33%;
    padding: 1em 1em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
        -webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.pricing-holder div{
    color: rgba(25, 25, 50, 0.9);
    width: 100%;
    text-align: center;
}
.pricing-holder h1{
    font-size: 5em;
}
.getStarted{
    float: left;
    top:0%;
    margin-left: -50px;
    background: rgb(255,255,255);
    width: 400px;
    padding: 1em 1em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.getStarted div{
    width: 100%;
    font-weight: 300;
    text-align: center;
    font-size: 1.3em;
    word-spacing: 0.2em;
    text-transform: uppercase;
}
.getStarted a{
    display: block;
}
.getStarted div:first-child{
    color: rgba(25, 25, 50, 0.9);
    padding-bottom: 1em;
}
.button {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(50,10,0, 0.5);
    padding: 0.1em, 0.1em;
    padding-top: 2em;
    padding-bottom: 2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}
.button:hover{
    background: rgba(0,0,0, 0.4);
    cursor: pointer;
}
.login{
    position: absolute;
    top: 30%;
    font-weight: 300;
    width: 450px;
    padding: 1em 1em;
    text-align: center;
    text-transform: uppercase;
    left: 22%;
    font-size: 2em;
    -webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.login div{
    background: rgba(255,255,255,0.3);
    margin: .2em .2em;
    word-spacing: 0.2em;
    cursor: pointer;
    margin: .2em .2em;
    padding: .2em .2em;
    -webkit-transition: background 1s;
	-moz-transition: background 1s;
	-ms-transition: background 1s;
    transition: background 1s;
}
.login div:hover{
    background: rgba(255,255,255,0.5);
}
.nav-top{
    position:fixed;
    top:0;
    width: 100%;
    background: rgba(100,100,100,0.4);
    padding: 0.2em 0.2em;
    z-index: 99999;
}
.nav-top div{
    float: right;
    padding-right: 1em;
    color:rgba(255,255,255,0.9);
}
.nav-top div:hover{
    color:rgba(255,255,255,1);
    cursor:pointer;
}
.form{
    position: absolute;
    top: 30%;
    font-weight: 300;
    width: 100%;
    padding: 2em 1em;
    text-align: left;
    text-transform: uppercase;
    left: 8%;
    font-size: 2em;
}

.form input{
    height: 2.5em;
    width: 300px;
    font-size: 15px;
    margin-top: 0.3em;
}

input[type=button] {
  color: #fff;
  background: #920000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

input[type=button]:hover {
    background: #620000;
}

.requests{
    position: absolute;
    top: 30%;
    font-size: 15px;
    width: 90%;
    padding: 2em 1em;
    text-align: left;
    text-transform: uppercase;
    left: 5%;
}
.requests tr:nth-child(odd){
    background: rgba(0,0,0,0.2);
}
.requests tr:hover{
    background: rgba(255,255,255,0.3);
    cursor: pointer;
}
.page-transition{
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 1%;
    cursor:default;
}
.info-page{
    background: brown;
    width: 100%;
    height: 900px;
}

.info-container{
    width: auto;
    padding-left: 0
    cursor: default;
    height: 150px;
    margin-top: 3em;
    background: rgba(255,255,255,0.95);
    padding-top: 1em;
    padding-bottom: 1em;
}
.info-content{
    height: 100%;
    float: left;
    padding-left: 8.5%;
    font-size: 1.1em;
    color: rgba(25, 25, 50, 0.7);
    width: 23%;
    text-align:center;
    word-spacing: 0.2em;
    text-transform: uppercase;
}
.navigation-bar{
    position: absolute;
    right: 10%;
    top: -58%;
    width: 400px;
    padding: 0.3em 0.3em;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 85px;
    background: rgba(255, 255, 255, 0.05);
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}
.navigation-bar:hover{
    background: rgba(255, 255, 255, 0.1);
}
.navigation-bar a{
    color:#fff;
    text-decoration: none;

}
.navigation-bar a:hover{
    text-shadow: 2px 2px rgba(0,0,0,0.4);
}
.funcar {
    position: relative;
    left: -100px;
    width: 100px;
    height: 100px;
    -webkit-animation:drive 2.5s ease-in 5s 1 alternate; /* Chrome, Safari, Opera */
    animation:drive 2.5s ease-in 5s 1 alternate;
}
.funcar img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.bigText {
    width: 50%;
}
.bigTextInfo {
    width: 50%;
}




/* ANIMATIONS GO HERE */
/*--------------------*/




@-webkit-keyframes drive
{
0%   {left:-100px;}
100% {left:95%;}
}
@keyframes drive
{
0%   {left:-100px;}
100% {left:95%;}
}







/*Device / Smaller dimension compensation */
/*----------------------------------------*/




@media screen and (max-width: 721px) {
    .title{
    width: 100%;
    margin-left: 0;
    text-align: center;
    }
    .title_info{
    font-size: 1em;
    }
    .navigation-bar{
    left: 50%;
    -webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
    }
    .bigTextInfo {
    font-size: 0.9em;
    }
}
@media screen and (max-width: 1451px) {
    .info-content{
    font-size: 1em;
    }
}
@media screen and (max-width: 1308px) {
    .info-page{
        height: 1420px;
    }
    .priceAndButtonHold{
        height: 500px;
    }
    .pricing-holder {
        margin-left: 50%;
    }
    .getStarted{
        margin-left: 50%;
    -webkit-transform: translateX(-50%) translateY(10%);
	-moz-transform: translateX(-50%) translateY(10%);
	-ms-transform: translateX(-50%) translateY(10%);
	transform: translateX(-50%) translateY(10%);

    }
    .funcar{
        height: 0px;
    }
}
@media screen and (max-width: 1239px) {
    .title_info{
    width: auto;
    }
}
@media screen and (max-width: 1110px) {
    .info-content{
        padding-left: 0;
        width: 100%;
        height: 200px;
    }
    .info-container{
        height: 40%;
        padding: 0;
    }
    .login{
    left: 50%;
    }
}


@media screen and (max-height: 767px) {
    .title{
    margin-top: 3.5%;
    }
}
@media screen and (max-height: 586px) {
    .title{
    margin-top: 2%;
    }
}